# GEMINI_API_KEY
GEMINI_API_KEY=""

# DATABASE
DB_CONNECTION="mysql" # remove this or set to 'sqlite' to use the default sqlite config
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_USER="root"
DB_PASSWORD=""
DB_NAME="cafe_management"

# AUTH
JWT_SECRET="your_super_secret_jwt_key_here"
JWT_EXPIRE="24h"

# OTP / RESET PASSWORD
OTP_EXPIRY=300000
OTP_MAX_ATTEMPTS=5
EMAIL_SERVICE="gmail"
EMAIL_USER="your-email@gmail.com"
EMAIL_PASS="your-app-password"

# APP_URL
APP_URL="http://localhost:3000"
